{% extends 'base.html' %}

{% block content %}

<h1>簽到系統</h1>
<h3>Course Profile : {{course.course_name}}</h3>
<h3>Teacher List:</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">流水號(ID)</th>
            <th scope="col">教師</th>
        </tr>
    </thead>
    <tbody>
        {% for teacher in teacher_list %}
        <tr>
            <th scope="row">{{ teacher.id }}</th>
            <td><a href= {{teacher.get_absolute_url}}> {{teacher.last_name}}{{teacher.first_name}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Student List:</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">流水號(ID)</th>
            <th scope="col">學生</th>
        </tr>
    </thead>
    <tbody>
        {% for student in student_list %}
        <tr>
            <th scope="row">{{ student.id }}</th>
            <td><a href= {{student.get_absolute_url}}> {{student.last_name}}{{student.first_name}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock  %}