{% extends 'base.html' %}

{% block content %}

<h1>簽到系統</h1>
<h3>Profile:</h3>
<table class="table">
    <tbody>
        <tr>
            <th scope="row">姓名</th>
            <td>{{ form1.last_name }}{{ form1.first_name }}</td>
        </tr>
        <tr>
            <th scope="row">帳號</th>
            <td>{{ form1.username }}</td>
        </tr>
        <tr>
            <th scope="row">學號</th>
            <td>{{ form2.student_id }}</td>
        </tr>
        <tr>
            <th scope="row">學系</th>
            <td>{{ form2.department }}</td>
        </tr>
        <tr>
            <th scope="row">身分</th>
            {% if form2.is_teacher %}
                <td>教授</td>
            {% else %}
                <td>學生</td>
            {% endif %}
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>{{ form1.email }}</td>
        </tr>
    </tbody>
</table>
<h3>Course:</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">流水號(ID)</th>
            <th scope="col">課程名稱</th>
        </tr>
    </thead>
    <tbody>
        {% for course in course_list %}
        <tr>
            <th scope="row">{{ course.id }}</th>
            <td><a href= {{course.get_absolute_url}}> {{course.course_name}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock  %}