{% extends 'base.html' %}

{% block content %}

<div class="title">
    <div class="title_text">
        <div style="display: flex;padding-right:20%;justify-content:space-between">
            <h1>簽到系統</h1>
            <div style="padding-top:1.5%;">
                <a class="btn btn-sm btn-info" href= "{% url 'main:home' %}" role="button">回主頁</a>
            </div>
        </div>
    </div>
</div>
<div class="login" style="
        width: 600px;
        margin: 5% auto;
        padding: 0 20px 20px 20px;
        border: 5px solid #A5DEE4;
	border-radius: 10px;
        background-color: #A5DEE4">
<center><h2 style="padding-top: 10px;">登入</h2></center>
<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <br>
    <input class="btn btn-info" type="submit" value="確認" />
    <!--
    <p style="padding-top: 5px;">還沒有帳號嗎? <a href="{% url 'main:registration' %}" style="color:rgb(0, 255, 208)">註冊</a></p>
    -->
</form>
</div>

{% endblock  %}
